
/* f4f6f7 */ 

  .login-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    min-height: 100vh; /* Minimum height to cover the viewport */
    background-color: #f4f6f7; /* Background color */
    box-sizing: border-box; /* Ensure padding is included in width */
    padding-bottom: 100px;
}
